.lined {
  background: url("src/assets/img/line-numbers.png") no-repeat left top;
  padding-left: 35px;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  display: flex;
  outline: none;
  font-size: 11px;
  line-break: 15px;
  font-family: monospace;
}
.selectbox {
  min-height: 35px;
  line-height: 35px;
  border-radius: 3px;
  padding: 5px;
}
.btn-primary {
  background-color: #fb5045;
  border-color: #fb5045;
}
.btn-primary:hover,
.btn-primary:active {
  background-color: #ed4338 !important;
  border-color: #ed4338 !important;
}
.btn-primary:focus,
.btn-primary.focus {
  box-shadow: none !important;
}
.modal-header {
  padding: 0.5rem 1rem;
  outline: none;
}
.modal-title {
  color: #ed4338;
}
button:focus {
  outline: none;
}
