<div class="row">
    <div class="col-6">
        <h2>JSON Viewer</h2>
    </div>
    <div class="col-6 text-right">
        <input title="Save & Share" type="button" value="Save & Share" class="btn btn-primary">
    </div>
</div>
<div class="row no-gutters border">
    <div class="col-5 border">
        <textarea class="lined h-100 w-100" [(ngModel)]="JSON_Source"></textarea>
    </div>
    <div class="col-2 border p-3">
        <div id="buttonDiv" class="buttonSection">
            <label for="mode"><b>Result Mode</b></label> <br>
            <input type="button" title="Beautify" value="Beautify" class="btn btn-primary btn-block" (click)="beautifyJSON()">
            <input type="button" title="Minify" value="Minify" class="btn btn-primary btn-block" (click)="minifyJSON()">
            <input type="button" title="JSON Viewer" value="JSON Viewer" class="btn btn-primary btn-block">
        </div>
    </div>
    <div class="col-5 border">
        <textarea class="lined h-100 w-100" [(ngModel)]="JSON_Target"></textarea>
    </div>
</div>